#searchBar {
  margin-right: 50px;
}

#searchBar > input {
  padding-left: 50px;
}

body{
  padding-top: 65px;
  background-color: black;
  background-image: url('img/sokehs.jpg');
  background-repeat:repeat;
  /*margin-bottom: 30px;*/

}
.btn-circle {
  margin-left: 12px;
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 20px;
  font-size: 20px; //controls personicon
  text-align: center;
}

.sticky-top {
  padding-top: 100px;
}

@media screen and (min-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
  body {
      font-size: 13px;
        background-image: url('img/sokehs.jpg');
  }
}

@media screen and (max-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of less than 800px*/
  body {
      /*font-size: 12px;*/
  }
}

.post-content{
font-size: 20px;
}





#spinner{
height: 10rem;
width: 10rem;

font-weight: bold;
visibility: visible;
color: red;
}




#reveal {
visibility: hidden;
}
