#searchBar {
  margin-right: 100px;
}

#searchBar > input {
  height: 28px;
}

.sticky-top{
  padding-top: 15px;
  color: white;

}

#sidenav {
  height: 100%;
  width: 325px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  margin-top: 65px;
}

body{
  padding-top: 65px;
  background-image: url('img/sokehs.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*margin-bottom: 30px;*/

}
.btn-circle {
  margin-left: 12px;
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 20px;
  font-size: 20px; //controls personicon
  text-align: center;
}



@media screen and (min-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
  body {
      font-size: 13px;
        background-image: url('img/sokehs.jpg');
  }
}

@media screen and (max-width: 990px) { /*The following CSS runs only for displays with a width (in pixels) of less than 800px*/
  body {
      /*font-size: 12px;*/
  }

  #sidenav {
    visibility: collapse;
    padding: 0px;
    display: none;
  }
}

.post-content{
font-size: 20px;
}

#spinner{
height: 10rem;
width: 10rem;

font-weight: bold;
visibility: visible;
color: red;
}


#reveal {
visibility: hidden;
}
